# -------------------------------------------------------------------
# Configuración de Conexión
# -------------------------------------------------------------------
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=tu_password_aqui

# -------------------------------------------------------------------
# Nombres de las Bases de Datos
# -------------------------------------------------------------------
# Base de datos de origen (Transaccional)
SRC_DB=bdPrestamosNormalizada

# Base de datos de destino (Data Warehouse)
DW_DB=prestamos_dw